{% extends 'market/base.html' %}
<table class="table">
  {% block content %}
  {% for trader in traders %}
  <tbody>
    <tr>
      <th><p>{{ trader.snack }}</p></h1></th>
      <th><p>{{ trader.snack_type }}</p></th>
      <!-- Checks if currently logged in user is the displayed trader list -->
      {% if user.is_authenticated and trader.trader == user %}
      <th><a href="" class="content"><span class="glyphicon glyphicon-minus"></span></a></th>
      {% endif %}
    </tr>
  </div>
</tbody>
{% endfor %}
{% endblock %}
</table>
