{% extends 'market/base.html' %}

{% block content %}
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>
            function trade_status(url, pk) {
                $.get('update/'+pk+'/', function (data) {
                    alert("counter updated!");
                });
            }
        </script> -->
<div class="row">
<div class="col-md-6">
  <table class="table">
    <thead>
      <p>Their items</p>
      <tr>
        <th>Snack</th>
        <th>Snack_id</th>
        <th>Type</th>
      </tr>
    </thead>
    {% for snack in snacks %}
    <tbody>
      <tr>
        {% if snack.trade_type = 'Trade' and user != snack.trader and snack.trading == False %}
        <th><p>{{ snack.snack }}</p></th>
        <th><p>{{ snack.id }}</th></p>
        <th><p>{{ snack.snack_type }}</p></th>
        <!-- Checks if currently logged in user is the displayed trader list -->
        {% endif %}
        {% if user.is_authenticated and user != snack.trader and snack.trading == False %}
        <th><a href="{% url 'update' snack_id=snack.id %}"><button id="snackButton" class="glyphicon glyphicon-plus" type="button"></button></a></th>
        {% endif %}
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
<div class="col-md-6">
  <table class="table">
    <thead>
      <p>Your items</p>
      <tr>
        <th>Snack</th>
        <th>Snack_id</th>
        <th>Type</th>
      </tr>
    </thead>
    {% for snack in snacks %}
    <tbody>
      <tr>
        {% if snack.trade_type = 'Trade' and user == snack.trader and snack.trading == False %}
        <th><p>{{ snack.snack }}</p></th>
        <th><p>{{ snack.id }}</p></th>
        <th><p>{{ snack.snack_type }}</p></th>
        <!-- Checks if currently logged in user is the displayed trader list -->
        {% if user.is_authenticated and user == snack.trader %}
        <th><a href="{% url 'update' snack_id=snack.id %}"><button id="snackButton" class="glyphicon glyphicon-plus" type="button"></button></a></th>
        <!-- <script>$("#snackButton").click(function() {
    $.get("/output/", function(data) {
        $("#myOutput").html(data);
    }, "html");
});</script> -->
        {% endif %}
        {% endif %}
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
</div>
<div class="row">
<div class="col-md-6">
  <table class="table">
    <thead>
      <p>Their items trading:</p>
      <p>
      <tr>
        <th>Snack</th>
        <th>Type</th>
      </tr>
    </thead>
    {% for snack in snacks %}
    <tbody>
      <tr>
        {% if snack.trade_type = 'Trade' and user != snack.trader and snack.trading == True %}
        <th><p>{{ snack.snack }}</p></th>
        <th><p>{{ snack.snack_type }}</p></th>
        <!-- Checks if currently logged in user is the displayed trader list -->
        {% endif %}
        {% if user.is_authenticated and user != snack.trader and snack.trading == True %}
        <th><a href="{% url 'update' snack_id=snack.id %}"><button id="snackButton" class="glyphicon glyphicon-minus" type="button"></button></a></th>
        {% endif %}
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
<div class="col-md-6">
  <table class="table">
    <thead>
      <p>Your items trading:</p>
      <tr>
        <th>Snack</th>
        <th>Snack_id</th>
        <th>Type</th>
      </tr>
    </thead>
    {% for snack in snacks %}
    <tbody>
      <tr>
        {% if snack.trade_type = 'Trade' and user == snack.trader and snack.trading == True %}
        <th><p>{{ snack.snack }}</p></th>
        <th><p>{{ snack.id }}</p></th>
        <th><p>{{ snack.snack_type }}</p></th>
        <!-- Checks if currently logged in user is the displayed trader list -->
        {% if user.is_authenticated and snack.trader == user and snack.trading == True %}
        <th><a href="{% url 'update' snack_id=snack.id %}"><button id="snackButton" class="glyphicon glyphicon-minus" type="button"></button></a></th>
        {% endif %}
        {% endif %}
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
</div>
{% for snack in snacks %}
{% if forloop.first %}
<a href="{% url 'trade_request' %}"><button id="submit" type="button">Submit Request</button></a>
<a href="{% url 'clear' pk=snack.trader cu=user.username %}"><button id="submit" type="button">Clear Request</button></a>
    {%endif%}
    {%endfor%}
{% endblock %}
